


body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    
 }

.nav{
    width: 100%;
    height: 48px;
    overflow: hidden;
    position: fixed;
    object-fit: cover;
    display: flex ; 
    justify-content:space-between;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    z-index: 1;
    background-color: #ffffff;

}
.nav-bar-1{
    display: flex ; 
    justify-content:flex-start;
    align-items: center;
    position: absolute;
    left: 50px;
    


}
.nav-list{
    list-style: none;
    margin-left: 2rem;
}
.nav-bar-2{
    display: flex ; 
    justify-content:flex-end;
    align-items: center;
    position: absolute;
    right: 120px;
    


}
.nav-list-2{
    list-style: none;
    margin-left: 2rem;
    
}
.logo{
    display: flex;
    justify-content: flex-start;
    width: 52px;
    height: 28px;
    margin-left: 20px;

}
.logo .logo-img{
    width: 28px;
    height: 28px;
    border-radius: 10px;
     

    
}
i{
    display: flex;
    justify-content: end;
   
    align-items: center;
    position: absolute;
    right: 20px;
    
}

.fa-user:before{
    margin-right: 48px;
}

/* first section */
.section-1{
    display:flex ;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.8rem;
    

}
.head{
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: relative;
    background-image: url(https://i02.appmifile.com/48_operator_global/26/10/2022/004da8c2a4e7b8d8fb882b9e679f48b8.jpg?f=webp);
    background-size: cover;
}
.head-inner{
    height: 255.359px;
    width: 360px;
    position: absolute;
    top: 98px;
    right: 327px;
    left: 824.5px;
    overflow: hidden;
   
}
 .xiaomi{
    width: 360px;
    height: 30.57px;
    display: block;
    padding-top: 46px;
}
.make-moment-txt{
    font-size: 24px;
    overflow: hidden;
    font-weight: lighter;
    margin-top: 10px;
    font-family: Camphor Pro VF,Camphor Pro,sans-serif;
}
.btn-learn {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    background: #0f0d0f;
    padding: 7px 24px 7px 24px;
    border: solid #444444 4px;
    text-decoration: none;
  }
  
  .btn-learn:hover {
    background: #000000;
    background-image: -webkit-linear-gradient(top, #000000, #2a3238);
    background-image: -moz-linear-gradient(top, #000000, #2a3238);
    background-image: -ms-linear-gradient(top, #000000, #2a3238);
    background-image: -o-linear-gradient(top, #000000, #2a3238);
    background-image: linear-gradient(to bottom, #000000, #2a3238);
    text-decoration: none;
  }

  /* session 2 */
  .section-2{
    display:flex ;
    justify-content: center;
    align-items: center;
    
   

}
  .section-2-container{
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: relative;
    background-image: url(https://i02.appmifile.com/324_operator_global/26/10/2022/53b9fcedc3b5d5fa8fb5c943c8e824c9.png?f=webp);
    background-size: cover;
    
    
}
.section-2-items{
    display: block;
    position: absolute;
    height: 272.76px;
    width: 360px;
    height: 272.76px;
    margin-top: 126px;
    margin-left: 273px;
    text-align: center;
    
    


}
.xiaomi5{
    font-weight: 1000;
    font-size: 32px;
    text-align: left;
    margin-left: 105px;
}
/* session 3 */
.section-3{
    display:block ;
    justify-content: center;
    align-items: center;
    height: 421.172px;
    width: 100%;
    background-color: rgb(243, 243, 243);
    padding-top: 15px;
    padding-left:15px;
    padding-right: 15px;
    padding-bottom: 7.5px;
    
}
.section-3-container1{
    
    height:421.172px;
    width: 650.5px;
    overflow: hidden;
    background-image: url(https://i02.appmifile.com/485_operator_global/26/10/2022/61cd92b9e45cf1a2043072982d9a8e1b.jpg?f=webp);
    background-size: cover;
    background-position-y:-60px ;
}
.section-3-con1{
    height: 129px;
    width: 466.70px;
    overflow: hidden;
    text-align: center;
    margin-left: 80px;
    margin-top: 55px;
    
    
}
.xiaomi2{
    height:30.34px ;
    width: 301px;
    
}
a{
    color: orangered;
    font-weight: 500;

}
h4{
    font-size:15.17px ;
    text-align: center;

}
.section-3-container2{
    height:421.172px;
    width: 650.5px;
    position: absolute;
    right: 15px;
   
    background-image: url(https://i02.appmifile.com/710_operator_global/26/10/2022/ed8ff4a48ffb2647abe5e2109df4e6c6.jpg?f=webp);
    background-size: cover;
    background-position-y:-60px ;
    margin-top: -184px;

}
.section-3-con2{
    height: 129px;
    width: 466.70px;
    overflow: hidden;
     margin-left: 82px;
    margin-top: 52px;
    text-align: center;
    
    
   
}
/* section 4 */
.section-4{
    display:block ;
    justify-content: center;
    align-items: center;
    height: 421.172px;
    width: 100%;
    background-color: rgb(243, 243, 243);
    padding-top: 7.5px ;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;

}

.section-4-container1{
    
    height:421.172px;
    width: 650.5px;
    overflow: hidden;
    background-image: url(https://i02.appmifile.com/533_operator_global/09/11/2022/069c2a3b93cfdf8d9ef5e1e5e93ba214.jpg?f=webp);
    background-size: cover;
    background-position-y:-60px ;
    

}
.section-4-con1{
    height: 129px;
    width: 466.70px;

    overflow: hidden;
    text-align: center;
    margin-left: 80px;
    margin-top: 55px;
    
    
}
.section-4-container2{
    height: 421.172px;
    width: 317.25px;
    overflow: hidden; 
    background-image: url(https://i02.appmifile.com/254_operator_global/04/11/2022/b1856a859f0377afb368053e2eb1acb6.jpg?f=webp);
    background-size: cover;
  
    position: absolute;
    right: 347px;
    background-position-y: -105px;
    margin-top: -184px;

}
.section-4-con2{
    height: 140.203px;
    width: 272.7px;
    overflow: hidden;
    margin-left: 22px;
    margin-top: 10px;
    text-align: center;
    
    
   
}
.section-4-container3{
    height: 421.172px;
    width: 317.25px;
    background-image: url(https://m.media-amazon.com/images/I/61Eb9vtdSML._SX679_.jpg);
    background-size: cover;
    position: absolute;
    right: 15px;
    margin-top: -184px;
    background-position-y: 65px;
    background-position-x: -46px;



}
.section-4-con3{
    height: 140.203px;
    width: 272.7px;
    overflow: hidden;
    margin-left: 22px;
    margin-top: 10px;
    text-align: center;
    
    
   
}
/* footer */
.footer{
    width: 100%;
    height: 493px;
    background-color: #191919;
    display: flex ;
    

}
.footer-1{
    height: 258px;
    width: 217.75px;
    background-color: #191919;
    padding-top: 64px;
    
    
}
.h2footer{
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-decoration: none solid rgb(255, 255, 255);
    word-spacing: 0px;
    color: #ffffff;
    margin-left: 40px;
}
 .item-list{
    display:flexbox;
    
} 
 .item-1-list{
    list-style: none;
    padding-bottom: 1rem;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    color: gray;
   
    
}
.footer-2{
    height: 258px;
    width: 217.75px;
    padding-top: 64px;
    margin-left: 20px;
    
    
    
 
    
    
    
}
.item-2-list{
    list-style: none;
    padding-bottom: 1rem;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    color: gray;
   
   
    
}
.footer-3{
    height: 258px;
    width: 217.75px;
    padding-top: 64px;
    margin-left: 20px;
    
    
    
}
.item-3-list{
    list-style: none;
    padding-bottom: 1rem;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    color: gray;
   
   
    
}
.footer-4{
    height: 258px;
    width: 217.75px;
    padding-top: 64px;
    margin-left: 20px;
    
    
    
}
.item-4-list{
    list-style: none;
    padding-bottom: 1rem;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    color: gray;

}
.footer-5{
    height: 258px;
    width: 217.75px;
    padding-top: 64px;
    text-align: left;
    align-items: flex-start;
    margin-left: 50px;
    padding-left: 32px;
    justify-content: flex-start;
    
    
}

.icon{
    width: 316px;
    height: 37.19px;
    display: inline-block;
    
    
   
}
.fa-facebook:before {
    content: "\f09a";
    position: absolute;
    right: 245px;
    font-size: 32px;
    color: #ffffff;
}
.fa-instagram:before {
    content: "\f09a";
    position: absolute;
    right: 192px;
    font-size: 32px;
    color: #ffffff;
}
.fa-twitter:before {
    content: "\f09a";
    position: absolute;
    right: 140px;
    font-size: 32px;
    color: #ffffff;
}

.fa-youtube:before {
    content: "\f09a";
    position: absolute;
    right: 88px;
    font-size: 32px;
    color: #ffffff;
}


 input{
    background-color: #191919;
    height: 38px;
    width: 264px;
    border-radius: 10px;
    border-color: #ffffff;
    padding-left: 15px;
    margin-left: 39px;
      

 }
 .copyright{
    background-color: #191919;
    height: 85px;
    padding-top: 5px;
    color: azure;
 }
 hr{
    border-color: aliceblue;
    margin: 0 40px;
 }
